<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.v4.0.0.a4.min.css">
</head>

<body>
    <div class="container">
        <div style="margin-top:20%">
            <li class="form-group input-group-lg">
                <input class="form-control" type="password" name="pwd1" placeholder="密码">
            </li>
            <li class="form-group input-group-lg">
                <input class="form-control" type="password" name="pwd2" placeholder="确认密码">
            </li>
        </div>
        <button id="btn-reset" class="btn btn-primary btn-block btn-lg">确定重置</button>
    </div>
    <script src="/public/js/jquery.3.2.1.min.js"></script>
    <script src="/public/user/js/reset.js"></script>
</body>

</html>